
body 
{
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat:no-repeat;
  background-position:center;
  background-size:100%;
  color:coral;
  font-size: 120%;  
}
footer
{
  background-color: black;
  color:coral;
}
nav
{
  margin-:110px;

}
a:link 
{
  color: red ;
}
a:visited 
{
  color: white;
}

a:hover 
{
  color: hotpink;
}

a:active 
{
  color: coral;
}

div:hover p 
{
  display: block;
}
div.gallery
{
  border: 3px solid #ffb838;
}

div.gallery:hover 
{
  border: 5px solid black;
}

div.gallery img 
{
  width: 100%;
  height: auto;
}

div.desc 
{
  padding: 10px;
  text-align: center;
  background:black;
}

* {
  box-sizing: border-box;
}

.responsive 
{
  padding: 10 10px;
  float: center;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) 
{
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) 
{
  .responsive {
    width: 100%;
  }
}

.clearfix:after 
{
  content: "";
  display: inline;
  clear: both;
}
