body 
{
  background-color: black;
  background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&w=1000&q=80");
  background-repeat:no-repeat;
  background-position:center;
  background-size:100%;
  color:coral;
  font-size: 120%;  
}
footer
{
  background-color: black;
  color:coral;
}
nav
{
  margin-:110px;

}
a:link 
{
  color: red ;
}
a:visited 
{
  color: white;
}

a:hover 
{
  color: hotpink;
}

a:active 
{
  color: coral;
}

div:hover p 
{
  display: block;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto ;
  grid-template-rows: auto auto ; 
  background-color: red;
  padding: 10px;
  align-content: center;
 color:black;
}

.grid-item {
  background-color: #FFCA28;
  border: 2px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}
.gallery-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
