body 
{
	background-color: black;
	background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&w=1000&q=80");
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	color:coral;
	font-size: 120%;	
}
.new
{
	background-color: black;
}
footer
{
 	background-color: black;
	color:coral;
}
nav
{
	margin:110px;
}
a:link 
{
  color: red ;
}
a:visited 
{
  color: white;
}

a:hover 
{
  color: hotpink;
}

a:active 
{
  color: coral;
}

div:hover p 
{
  display: block;
}
