body {
background-color: white;
background-repeat:no-repeat;
background-position:center;
background-size:100%;
color:black;
font-size: 150%;

 }

 footer
 {
 	background-color: black;
 	color:red;
 }
 nav{
 	font-size:120%;
 	display: block;
 	padding: 8px;
 	position: sticky;
 	 top: 0;
 	 background-color: black;
 }
a:link 
{
  color: red ;
}
a:visited 
{
  color: white;
}

a:hover 
{
  color: hotpink;
}

a:active 
{
  color: coral;
}

div:hover p 
{
  display: block;
}
#grad1{
  background-image: linear-gradient(to bottom right,blue,white,green);
}
h1
{
	background-color: black; 
}
table
{
  box-shadow: 10px 10px black;
}
.text
{
  text-shadow: 2px 2px 5px red;
}

#td{
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  -ms-transform: skewX(20deg); /* IE 9 */
  transform: skewX(20deg); 
}

#td1 {
	 width: 300px;
  height: 100px;
  background-color: red;
  border: 1px solid black;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(20deg); /* Standard syntax */
   -ms-transform: skewY(20deg); /* IE 9 */
  transform: skewY(20deg);
}
#rottr{
  width: 500px;
  height: 500px;
  background: red;
   background: url("https://images.pexels.com/photos/1051075/pexels-photo-1051075.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

  transition: width 2s, height 2s, transform 2s;
}

#rottr:hover {
  width: 500px;
  height: 500px;
  transform: rotate(180deg);
 }
img{
	 max-width: 100%;
  height: auto;
}
#aimg{
  width: 500px;
  height: 300px;
  background:url("https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  animation-name: travel;
  animation-duration: 6s;
   animation-iteration-count: 10;
}

@keyframes travel {
  from {background:url("https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");}
  to {background:url("https://images.pexels.com/photos/2398220/pexels-photo-2398220.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");}
}